exclude .binder
recursive-exclude .binder *
exclude docs
recursive-exclude docs *
exclude tests
recursive-exclude tests *

exclude .flake8
exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude .boussole.json
exclude noxfile.py
exclude codecov.yml

include LICENSE
include MANIFEST.in
include README.md

include quantecon_book_theme/theme.conf
recursive-include quantecon_book_theme *.html
recursive-include quantecon_book_theme *.js
recursive-include quantecon_book_theme *.png
recursive-include quantecon_book_theme *.scss
recursive-include quantecon_book_theme *.svg

# added by check_manifest.py
recursive-include quantecon_book_theme *.css
