/* Custom code token highlighting styles for QuantEcon Book Theme
 * These styles are only applied when qetheme_code_style is enabled (default).
 * To use Pygments built-in styles instead, set qetheme_code_style = False in html_theme_options
 * and configure pygments_style in conf.py
 *
 * Using :where() pseudo-class to keep specificity low so Pygments styles can override when enabled
 */

:where(body:not(.use-pygments-style)) {
  .highlight .hll {
    background-color: #ffc;
  }
  .highlight .c {
    color: #60a0b0;
  }
  .highlight .err {
    border: 1px solid red;
  }
  .highlight .k {
    color: #007020;
    font-weight: 700;
  }
  .highlight .o {
    color: #666;
  }
  .highlight .cm {
    color: #60a0b0;
  }
  .highlight .cp {
    color: #007020;
  }
  .highlight .c1 {
    color: #60a0b0;
  }
  .highlight .cs {
    color: #60a0b0;
    background-color: #fff0f0;
  }
  .highlight .gd {
    color: #a00000;
  }
  .highlight .ge {
    font-style: italic;
  }
  .highlight .gr {
    color: red;
  }
  .highlight .gh {
    color: navy;
    font-weight: 700;
  }
  .highlight .gi {
    color: #00a000;
  }
  .highlight .go {
    color: #888;
  }
  .highlight .gp {
    color: #c65d09;
    font-weight: 700;
  }
  .highlight .gs {
    font-weight: 700;
  }
  .highlight .gu {
    color: purple;
    font-weight: 700;
  }
  .highlight .gt {
    color: #04d;
  }
  .highlight .kc {
    color: #007020;
    font-weight: 700;
  }
  .highlight .kd {
    color: #007020;
    font-weight: 700;
  }
  .highlight .kn {
    color: #007020;
    font-weight: 700;
  }
  .highlight .kp {
    color: #007020;
  }
  .highlight .kr {
    color: #007020;
    font-weight: 700;
  }
  .highlight .kt {
    color: #902000;
  }
  .highlight .m {
    color: #40a070;
  }
  .highlight .s {
    color: #4070a0;
  }
  .highlight .na {
    color: #4070a0;
  }
  .highlight .nb {
    color: #007020;
  }
  .highlight .nc {
    color: #0e84b5;
    font-weight: 700;
  }
  .highlight .no {
    color: #60add5;
  }
  .highlight .nd {
    color: #555;
    font-weight: 700;
  }
  .highlight .ni {
    color: #d55537;
    font-weight: 700;
  }
  .highlight .ne {
    color: #007020;
  }
  .highlight .nf {
    color: #06287e;
  }
  .highlight .nl {
    color: #002070;
    font-weight: 700;
  }
  .highlight .nn {
    color: #0e84b5;
    font-weight: 700;
  }
  .highlight .nt {
    color: #062873;
    font-weight: 700;
  }
  .highlight .nv {
    color: #bb60d5;
  }
  .highlight .ow {
    color: #007020;
    font-weight: 700;
  }
  .highlight .w {
    color: #bbb;
  }
  .highlight .mf {
    color: #40a070;
  }
  .highlight .mh {
    color: #40a070;
  }
  .highlight .mi {
    color: #40a070;
  }
  .highlight .mo {
    color: #40a070;
  }
  .highlight .sb {
    color: #4070a0;
  }
  .highlight .sc {
    color: #4070a0;
  }
  .highlight .sd {
    color: #4070a0;
  }
  .highlight .s2 {
    color: #4070a0;
  }
  .highlight .se {
    color: #4070a0;
    font-weight: 700;
  }
  .highlight .sh {
    color: #4070a0;
  }
  .highlight .si {
    color: #70a0d0;
  }
  .highlight .sx {
    color: #c65d09;
  }
  .highlight .sr {
    color: #235388;
  }
  .highlight .s1 {
    color: #4070a0;
  }
  .highlight .ss {
    color: #517918;
  }
  .highlight .bp {
    color: #007020;
  }
  .highlight .vc {
    color: #bb60d5;
  }
  .highlight .vg {
    color: #bb60d5;
  }
  .highlight .vi {
    color: #bb60d5;
  }
  .highlight .il {
    color: #40a070;
  }
}

/* Dark mode syntax highlighting
 * A carefully chosen palette for readability on dark backgrounds (#1e1e32).
 * Inspired by VS Code Dark+ / One Dark themes.
 */
:where(body.dark-theme:not(.use-pygments-style)) {
  .highlight .hll {
    background-color: #3a3a5c;
  }
  // Comments - muted blue-gray
  .highlight .c {
    color: #7c8a9e;
  }
  .highlight .cm {
    color: #7c8a9e;
  }
  .highlight .cp {
    color: #c586c0;
  }
  .highlight .c1 {
    color: #7c8a9e;
  }
  .highlight .cs {
    color: #7c8a9e;
    background-color: transparent;
  }
  // Errors
  .highlight .err {
    color: #f48771;
    border: none;
  }
  // Keywords - soft purple
  .highlight .k {
    color: #c586c0;
    font-weight: 700;
  }
  .highlight .kc {
    color: #c586c0;
    font-weight: 700;
  }
  .highlight .kd {
    color: #569cd6;
    font-weight: 700;
  }
  .highlight .kn {
    color: #c586c0;
    font-weight: 700;
  }
  .highlight .kp {
    color: #c586c0;
  }
  .highlight .kr {
    color: #c586c0;
    font-weight: 700;
  }
  .highlight .kt {
    color: #4ec9b0;
  }
  // Operators
  .highlight .o {
    color: #d4d4e4;
  }
  .highlight .ow {
    color: #c586c0;
    font-weight: 700;
  }
  // Punctuation
  .highlight .p {
    color: #d4d4e4;
  }
  // Names / identifiers
  .highlight .n {
    color: #d4d4e4;
  }
  .highlight .na {
    color: #9cdcfe;
  }
  .highlight .nb {
    color: #4ec9b0;
  }
  .highlight .bp {
    color: #4ec9b0;
  }
  .highlight .nc {
    color: #4ec9b0;
    font-weight: 700;
  }
  .highlight .no {
    color: #9cdcfe;
  }
  .highlight .nd {
    color: #dcdcaa;
    font-weight: 700;
  }
  .highlight .ni {
    color: #d7ba7d;
    font-weight: 700;
  }
  .highlight .ne {
    color: #4ec9b0;
  }
  .highlight .nf {
    color: #dcdcaa;
  }
  .highlight .nl {
    color: #9cdcfe;
    font-weight: 700;
  }
  .highlight .nn {
    color: #4ec9b0;
    font-weight: 700;
  }
  .highlight .nt {
    color: #569cd6;
    font-weight: 700;
  }
  .highlight .nv {
    color: #9cdcfe;
  }
  .highlight .vc {
    color: #9cdcfe;
  }
  .highlight .vg {
    color: #9cdcfe;
  }
  .highlight .vi {
    color: #9cdcfe;
  }
  // Strings - soft orange
  .highlight .s {
    color: #ce9178;
  }
  .highlight .sb {
    color: #ce9178;
  }
  .highlight .sc {
    color: #ce9178;
  }
  .highlight .sd {
    color: #ce9178;
  }
  .highlight .s2 {
    color: #ce9178;
  }
  .highlight .se {
    color: #d7ba7d;
    font-weight: 700;
  }
  .highlight .sh {
    color: #ce9178;
  }
  .highlight .si {
    color: #9cdcfe;
  }
  .highlight .sx {
    color: #ce9178;
  }
  .highlight .sr {
    color: #d16969;
  }
  .highlight .s1 {
    color: #ce9178;
  }
  .highlight .ss {
    color: #ce9178;
  }
  // Numbers - light green
  .highlight .m {
    color: #b5cea8;
  }
  .highlight .mf {
    color: #b5cea8;
  }
  .highlight .mh {
    color: #b5cea8;
  }
  .highlight .mi {
    color: #b5cea8;
  }
  .highlight .mo {
    color: #b5cea8;
  }
  .highlight .il {
    color: #b5cea8;
  }
  // Diff
  .highlight .gd {
    color: #f48771;
  }
  .highlight .ge {
    font-style: italic;
  }
  .highlight .gr {
    color: #f48771;
  }
  .highlight .gh {
    color: #569cd6;
    font-weight: 700;
  }
  .highlight .gi {
    color: #b5cea8;
  }
  .highlight .go {
    color: #9898b0;
  }
  .highlight .gp {
    color: #dcdcaa;
    font-weight: 700;
  }
  .highlight .gs {
    font-weight: 700;
  }
  .highlight .gu {
    color: #c586c0;
    font-weight: 700;
  }
  .highlight .gt {
    color: #6cb6ff;
  }
  // Whitespace
  .highlight .w {
    color: #4a4a6a;
  }
}
