/* Custom code token highlighting styles for QuantEcon Book Theme
 * These styles are only applied when qetheme_code_style is enabled (default).
 * To use Pygments built-in styles instead, set qetheme_code_style = False in html_theme_options
 * and configure pygments_style in conf.py
 *
 * Using :where() pseudo-class to keep specificity low so Pygments styles can override when enabled
 */

:where(body:not(.use-pygments-style)) {
  .highlight .hll {
    background-color: #ffc;
  }
  .highlight .c {
    color: #60a0b0;
    font-style: italic;
  }
  .highlight .err {
    border: 1px solid red;
  }
  .highlight .k {
    color: #007020;
    font-weight: 700;
  }
  .highlight .o {
    color: #666;
  }
  .highlight .cm {
    color: #60a0b0;
    font-style: italic;
  }
  .highlight .cp {
    color: #007020;
  }
  .highlight .c1 {
    color: #60a0b0;
    font-style: italic;
  }
  .highlight .cs {
    color: #60a0b0;
    background-color: #fff0f0;
  }
  .highlight .gd {
    color: #a00000;
  }
  .highlight .ge {
    font-style: italic;
  }
  .highlight .gr {
    color: red;
  }
  .highlight .gh {
    color: navy;
    font-weight: 700;
  }
  .highlight .gi {
    color: #00a000;
  }
  .highlight .go {
    color: #888;
  }
  .highlight .gp {
    color: #c65d09;
    font-weight: 700;
  }
  .highlight .gs {
    font-weight: 700;
  }
  .highlight .gu {
    color: purple;
    font-weight: 700;
  }
  .highlight .gt {
    color: #04d;
  }
  .highlight .kc {
    color: #007020;
    font-weight: 700;
  }
  .highlight .kd {
    color: #007020;
    font-weight: 700;
  }
  .highlight .kn {
    color: #007020;
    font-weight: 700;
  }
  .highlight .kp {
    color: #007020;
  }
  .highlight .kr {
    color: #007020;
    font-weight: 700;
  }
  .highlight .kt {
    color: #902000;
  }
  .highlight .m {
    color: #40a070;
  }
  .highlight .s {
    color: #4070a0;
  }
  .highlight .na {
    color: #4070a0;
  }
  .highlight .nb {
    color: #007020;
  }
  .highlight .nc {
    color: #0e84b5;
    font-weight: 700;
  }
  .highlight .no {
    color: #60add5;
  }
  .highlight .nd {
    color: #555;
    font-weight: 700;
  }
  .highlight .ni {
    color: #d55537;
    font-weight: 700;
  }
  .highlight .ne {
    color: #007020;
  }
  .highlight .nf {
    color: #06287e;
  }
  .highlight .nl {
    color: #002070;
    font-weight: 700;
  }
  .highlight .nn {
    color: #0e84b5;
    font-weight: 700;
  }
  .highlight .nt {
    color: #062873;
    font-weight: 700;
  }
  .highlight .nv {
    color: #bb60d5;
  }
  .highlight .ow {
    color: #007020;
    font-weight: 700;
  }
  .highlight .w {
    color: #bbb;
  }
  .highlight .mf {
    color: #40a070;
  }
  .highlight .mh {
    color: #40a070;
  }
  .highlight .mi {
    color: #40a070;
  }
  .highlight .mo {
    color: #40a070;
  }
  .highlight .sb {
    color: #4070a0;
  }
  .highlight .sc {
    color: #4070a0;
  }
  .highlight .sd {
    color: #4070a0;
  }
  .highlight .s2 {
    color: #4070a0;
  }
  .highlight .se {
    color: #4070a0;
    font-weight: 700;
  }
  .highlight .sh {
    color: #4070a0;
  }
  .highlight .si {
    color: #70a0d0;
    font-style: italic;
  }
  .highlight .sx {
    color: #c65d09;
  }
  .highlight .sr {
    color: #235388;
  }
  .highlight .s1 {
    color: #4070a0;
  }
  .highlight .ss {
    color: #517918;
  }
  .highlight .bp {
    color: #007020;
  }
  .highlight .vc {
    color: #bb60d5;
  }
  .highlight .vg {
    color: #bb60d5;
  }
  .highlight .vi {
    color: #bb60d5;
  }
  .highlight .il {
    color: #40a070;
  }
}
