/*
-----------------------------------
IMPORTS
-----------------------------------
*/

@use "colors";
@use "breakpoints";

@forward "normalize";
@forward "html5boilerplate";
@forward "quantecon-defaults";
@forward "syntax";
@forward "tippy-themes";
@forward "margin";

@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,700;1,400&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 1rem;

  &.font-plus {
    font-size: 1.2rem;
  }

  &.font-minus {
    font-size: 0.9rem;
  }

  @media (min-width: breakpoints.$md) {
    font-size: 16px;

    &.font-plus {
      font-size: calc(16px * 1.2);
    }

    &.font-minus {
      font-size: calc(16px * 0.9);
    }
  }

  @media (min-width: breakpoints.$lg) {
    font-size: 18px;

    &.font-plus {
      font-size: calc(18px * 1.2);
    }

    &.font-minus {
      font-size: calc(18px * 0.9);
    }
  }

  @media (min-width: breakpoints.$xl) {
    font-size: 18px;

    &.font-plus {
      font-size: calc(18px * 1.2);
    }

    &.font-minus {
      font-size: calc(18px * 0.9);
    }
  }
}

.show-for-sr {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  padding-top: 0px;
  color: #444;
  font-family: "Source Sans Pro", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  img {
    max-width: 100%;
  }

  .logo-img {
    display: block;
  }

  .dark-logo-img {
    display: none;
  }

  &.dark-theme {
    background: #222;
    color: #fff;

    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    p {
      color: #fff;
    }

    .qe-toolbar__inner > ul > li > a,
    .qe-sidebar__nav ul > li > a {
      color: #fff;
    }

    cite,
    code,
    tt {
      background-color: transparent;
    }

    .maths,
    .math {
      color: #fff !important;
    }

    .logo-img {
      display: none;
    }

    .dark-logo-img {
      display: block;
    }

    .highlight {
      background: #111 !important;
      .n,
      .p {
        color: #fff;
      }
    }

    svg {
      g {
        fill: #fff !important;
        stroke: #fff !important;
      }
    }

    .qe-toolbar,
    .drawer,
    .qe-sidebar,
    .drawer .inner {
      background: #444;
    }

    .btn__search {
      input {
        background-color: #333;
        color: #fff;

        &:focus {
          border-color: #fff;
        }
      }
    }

    .qe-page__content {
      .MathJax {
        color: #fff !important;
      }
      .image-reference img,
      figure img,
      .cell_output img {
        filter: invert(100%) hue-rotate(-180deg) !important;
        -ms-filter: invert(100%) !important;
        -webkit-filter: invert(100%) hue-rotate(-180deg) !important;
      }
    }

    .toc-entry {
      a.nav-link {
        color: rgb(166, 166, 166);
      }
    }
    .reference.external,
    .reference.internal {
      font-weight: 800;
    }

    nav.contents {
      background-color: #333;
    }

    div.admonition,
    .admonition {
      background-color: #333;
      box-shadow: none !important;
    }

    pre {
      background-color: #333;
      color: #fff;
    }

    aside.sidebar {
      background-color: #333;
    }

    button.toggle-button.toggle-button-hidden::before {
      color: #fff;
    }

    aside.topic,
    div.topic,
    div.topic.contents,
    nav.contents {
      background-color: #333;
      box-shadow: none !important;
    }

    blockquote,
    blockquote p {
      color: #fff;
    }

    table tbody .row-even p {
      color: #333;
    }

    div.cell details.below-input > summary,
    div.cell div.cell_input,
    div.cell details.above-input > summary {
      background-color: #333;
    }

    .tippy-box {
      background-color: #333;
    }

    .bd-search-container ul.search li div.context,
    .bd-search-container ul.search li p.context {
      color: #fff;
    }

    .qe-toolbar__inner > ul > li.btn__search input {
      background-color: #333;
      color: #fff;
    }

    tbody tr:nth-child(even) {
      color: white;
    }
    thead tr th {
      color: white;
    }

    .highlight .nn {
      color: white;
    }

    mjx-math mjx-mstyle {
      color: white !important;
    }

    #settingsModal {
      span {
        color: white;
      }
    }

    .cell_output .output.text_plain,
    .cell_output .output.stream,
    .cell_output .output.stderr {
      border: 0rem;
    }
  }
}

.section,
.reference,
.math {
  scroll-margin-top: 60px;
}

p {
  margin-bottom: revert;
  margin-top: revert;
  font-size: revert;
  color: revert;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  margin: 0 0 1rem 0;
  p {
    margin: 0.25rem 0 0;
    font-size: 0.9rem;
  }
}

h2 {
  font-weight: 900;
  font-size: 3rem;
}

h3 {
  font-weight: 900;
  font-size: 2.5rem;
}

h4 {
  font-weight: 900;
  font-size: 2rem;
}

a {
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
}

a:hover {
}

a:visited {
  //color: darken($primary, 20%);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  font-family: "PT Serif", serif;
  color: #444;
}

h1 {
  font-size: 2em;
  color: #333;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #000;
}

strong,
b {
  font-weight: 700;
}

li {
  margin: 0.5rem 0;
}

a {
  color: #0072bc;
  text-decoration: none;
  transition: all 0.15s linear;
  overflow-wrap: break-word;
}

a:hover {
  color: #004979;
  text-decoration: underline;
}

a:active {
}

a:visited {
  color: #004979;
}

pre {
  font-size: 0.9rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

cite,
code,
tt {
  font-family: "Source Code Pro", monospace;
  letter-spacing: 0.01rem;
  background-color: #efefef;
  font-style: normal;
  border: 1px dotted #cccccc;
  border-radius: 2px;
  padding: 0 2px;
  font-size: 0.9rem;
  overflow-wrap: break-word;
}

.qe-wrapper {
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column-reverse;
  //min-height: 100vh;
}

.qe-main {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4rem;
}

.qe-toolbar {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0 1rem;
  z-index: 2;
  background-color: #efefef;
  border-bottom: 1px solid #ccc;

  &__inner {
    //max-width: calc(1320px + 6rem);
    margin: 0 auto 0 auto;
    height: 50px;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      > li {
        margin: 0 10px;
        padding: 0;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        opacity: 0.8;

        &:hover,
        &.btn-active {
          opacity: 1;
          transform: scale(1.1);
        }

        a {
          color: colors.$body;
        }
        path {
          fill: inherit;
          stroke: inherit;
        }

        &.btn__plus {
          opacity: 0.5;

          .font-plus & {
            opacity: 1;
            transform: scale(1.1);
          }
        }

        &.btn__minus {
          opacity: 0.5;

          .font-minus & {
            opacity: 1;
            transform: scale(1.1);
          }
        }

        &.btn__contrast {
          opacity: 0.5;
          margin-right: 2rem;
        }

        &.btn__fullscreen {
          opacity: 0.5;
        }

        &.btn__search {
          display: flex;
          align-items: center;

          //margin: 0 3rem 0 1rem;
          input {
            height: auto;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #f8f8f8;
            margin: 0 -28px 0 0;
            line-height: 1;
            font-size: 0.9rem;
            padding: 0.3rem 0.5rem;
            outline: 0;
            width: 0;
            visibility: hidden;
            transition: width 0.3s;
            &.search-open {
              width: 350px;
              visibility: visible;
            }
            &:focus {
              border-color: #999;
            }
            &::-webkit-search-decoration,
            &::-webkit-search-cancel-button,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
              -webkit-appearance: none;
            }
          }

          svg {
            position: relative;
            background-color: transparent;
            z-index: 999;
            top: -1px;
            left: -4px;
          }

          &:hover {
            transform: none;

            input {
              border-color: colors.$body;
            }
          }
        }

        &.btn__qelogo {
          a {
            display: block;
            overflow: hidden;
            height: 30px;
            width: 105px;
            background: url(https://assets.quantecon.org/img/menubar/qemb-logo.png)
              no-repeat left top;
            background-size: 105px 30px;
          }
        }

        &.btn__sidebar {
          svg {
          }
        }

        svg {
          width: 20px;
          height: 20px;
        }

        @media (max-width: breakpoints.$sm) {
          &.btn__plus,
          &.btn__minus,
          &.btn__fullscreen,
          &.btn__search {
            display: none;
          }
        }
      }
    }
  }
}

.qe-page {
  max-width: 800px;
  position: relative;
  flex-grow: 1;
  @media (max-width: breakpoints.$md) {
    max-width: 100%;
  }
  &__toc {
    position: absolute;
    right: calc(-200px - 3rem);
    top: 0;
    margin: 0;
    height: 100%;
    width: 200px;

    @media (max-width: 1350px) {
      display: none;
    }

    .inner {
      height: 100%;
    }

    &-header {
      font-weight: 700;
      margin: 0 0 1rem 0;
    }

    &-nav {
      font-size: 0.9rem;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        ul {
          padding-left: 1rem;
        }

        li {
          margin: 0.25rem 0;
          padding: 0;

          a {
            color: colors.$body;
            opacity: 0.8;

            &.active {
              color: colors.$primary;
              opacity: 1;
            }
          }
        }
      }
      .logo {
        img {
          max-width: 150px;
        }
      }
      .powered {
        //text-align: center;
        font-size: 0.8rem;
      }
    }

    &-footer {
      position: sticky;
      top: 6rem;
      margin: 2rem 0 0 0;
      font-size: 0.9rem;

      a {
        color: colors.$body;
        opacity: 0.8;
        text-decoration: none;

        &:hover {
          color: colors.$primary;
          opacity: 1;
        }
      }
    }

    .nav > .active > ul {
      display: block;
    }

    .nav .nav {
      display: none;
    }
  }

  &__header {
    .main-index & {
      display: none;
    }

    border-bottom: 5px solid colors.$primary;
    margin: 0 0 4rem 0;
    padding: 0 0 1rem 0;

    &-copy {
      display: flex;
      //justify-content: space-between;

      @media (max-width: breakpoints.$md) {
        flex-direction: column-reverse;
      }
    }

    &-heading {
      margin: 0 1rem 0 0;
      font-weight: 700;
      flex-shrink: 0;

      a {
        color: colors.$body;
      }

      @media (max-width: breakpoints.$md) {
        font-weight: 400;
        font-size: 0.9rem;
      }
    }

    &-subheading {
      margin: 0;

      @media (max-width: breakpoints.$md) {
        margin: 0 0 0.5rem 0;
        font-weight: 700;
      }
    }

    &-authors {
      margin: 0.25rem 0 0 0;
      font-size: 0.9rem;

      @media (max-width: breakpoints.$md) {
        font-size: 0.8rem;
      }
    }
  }

  &__content {
    /* tableofcontents directive caption option */
    .caption-text {
      font-weight: normal;
      font-size: 1rem;
    }

    // Math equations
    span.eqno {
      float: right;
      font-size: 1.2em;
    }
  }

  &__footer {
    border-top: 5px solid #0072bc;
    margin: 2rem 0;
    padding: 1rem 0 0 0;
    font-size: 0.8rem;
    opacity: 0.7;
  }
}

.main-index {
  h1 {
    font-weight: 700;
    margin-bottom: 0px;
    padding: 0 0 1rem 0;
  }
  #qe-page-author-links {
    border-bottom: 5px solid #0072bc;
    margin: 0 0 2rem 0;
    padding: 0 0 1rem 0;
  }
}

.qe-sidebar {
  //position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #efefef;
  padding: 2rem;
  margin: 0;
  border-right: 1px solid #ccc;
  //height: 100%;
  width: 250px;
  transform: translate3d(0px, 0px, 0px);
  visibility: visible;
  transition: all 0.2s ease 0s;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  padding-top: 5rem;

  @media (max-width: 1340px) {
    box-shadow: 10px 10px 5px 9999px rgba(255, 255, 255, 0.8);
    width: 300px;
  }

  @media (min-width: 1439px) {
    width: 300px;
  }

  @media (min-width: 1600px) {
    width: 350px;
  }

  &.inactive {
    //display:none;
    transform: translate3d(-100%, 0px, 0px);
    visibility: visible;
    box-shadow: none;
  }

  &__header {
    margin: 0 0 1rem 0;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 1rem;
  }

  &__nav {
    font-size: 0.9rem;

    ul {
      list-style: none;
      display: block;
      margin: 0;
      padding: 0;

      ul {
        padding-left: 1rem;
      }

      li {
        margin: 0.25rem 0;
        padding: 0;
        a {
          color: colors.$body;
          opacity: 0.8;

          &.active {
            color: colors.$primary;
            opacity: 1;
          }
        }
      }
    }

    /* tableofcontents directive caption option */
    .caption-text {
      font-weight: normal;
      font-family: "PT Serif", serif;
      //font-size: 1.7rem;
    }
    .caption {
      margin-top: 1rem;
    }
  }

  &__footer {
    text-align: center;
    margin: 2rem 0 0 0;
  }
}

#search-results {
  margin-top: 2rem;
}

.bd-search {
  background-color: #eff1f2;
  border-bottom: 0;
  margin: 0 -2rem 0 -2rem;
  padding: 2rem;
  width: calc(100% + 4rem);
  position: relative;

  .form-control {
    display: block;
    height: 2.75rem;
    border: solid 1px rgba(210, 215, 217, 0.75);
    background: #ffffff;
    border-radius: 0.3rem;
    width: 100%;
  }

  svg {
    transform: scaleX(-1);
    color: #7f888f;
    cursor: default;
    display: block;
    //font-size: 1.5em;
    height: 2.75rem;
    //line-height: 2em;
    opacity: 0.325;
    position: absolute;
    right: 2.75rem;
    text-align: center;
    top: 2rem;
  }

  .search-button__kbd-shortcut {
    right: 3em;
  }

  i.fa-solid.fa-magnifying-glass {
    left: 3rem;
    bottom: 50px;
  }
}

/* Custom content styles */
.qe-page__content {
  table {
    max-width: 100%;
    border-collapse: collapse;
    border: 0;
    background-color: transparent;

    tbody tr:nth-child(odd) {
      background-color: #f7f7f7;
    }

    td,
    th {
      padding: 0.25rem 0.75rem;
      text-align: left;
      vertical-align: top;
      border: 0;
      > p {
        margin: 0;
      }
    }

    th {
      font-weight: bold;
    }

    thead {
      tr th {
        text-align: left !important;
      }

      th,
      td {
        vertical-align: bottom;
        border: 0;
        border-top: 0;
        border-bottom: 1px solid #e1e1e1;
      }
    }
  }

  a.copybtn {
    top: 0.4em;
    opacity: 0.2;
  }

  /* Content TOC */
  #contents {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  #contents + ul {
    list-style: none;
    padding: 0 !important;
    border: 1px solid #ddd !important;
    border-width: 0 0 0 1px !important;
    margin: 0 0 0 20px !important;
  }

  #contents + ul > li {
    margin: 0;
  }

  #contents + ul > li > a {
    display: none;
  }

  #contents + ul > li > ul {
    list-style: disc;
  }

  #contents + ul > li > ul > li {
    margin: 0;
  }

  .anchor-link {
    visibility: hidden;
    text-decoration: none;
    color: #555;
    margin-left: 6px;
    padding: 0 4px 0 4px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.8em;
  }

  .anchor-link:hover {
    color: #555;
    text-decoration: none;
  }

  *:hover > .anchor-link {
    visibility: visible;
  }

  // Code blocks should have a margin, but code *cells* get margin from a parent
  div.highlight {
    background: none;
    margin-bottom: 1em;
  }

  div.cell div.highlight {
    margin-bottom: 0em;
  }

  .cell .input,
  .cell .output {
    position: relative;
  }

  .cell .output .prompt,
  .cell .input .prompt {
    visibility: hidden;
    position: absolute;
    top: 0rem;
    left: -55px;
    width: 45px;
  }

  // .cell .output .prompt:before,
  // .cell .input .prompt:before {
  //   visibility: visible;
  //   position: absolute;
  //   top: 0rem;
  //   right: 0;
  //   content: 'Out';
  //   font-weight: bold;
  //   font-size: 16px;
  //   text-align: right;
  //   color: #d84315;
  //   font-family: monospace, serif;
  //   font-weight: 400;
  // }

  .cell .input .prompt:before {
    content: "In";
    color: #303f9f;
    top: 0.25rem;
  }

  .headerlink {
    visibility: hidden;
    text-decoration: none;
    color: #555;
    margin-left: 6px;
    padding: 0 4px 0 4px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.8rem;
  }

  .headerlink:hover {
    color: #555;
  }

  *:hover > .headerlink {
    visibility: visible;
  }

  .rendered_html img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .output_png img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .math {
    color: #333;
  }

  a .math {
    color: #0072bc;
  }

  div.math {
    margin: 2rem 0;
  }

  .MathJax {
    color: #333;
  }

  a .MathJax {
    color: #0072bc;
  }

  .figure {
    display: block;
    text-align: center;
    &.align-left {
      text-align: left;
    }
    &.align-right {
      text-align: right;
    }
    p.caption {
      span.caption-number {
        font-style: normal;
        font-weight: 700;
      }
    }
  }

  figcaption {
    span.caption-number {
      font-style: normal;
      font-weight: 700;
    }
  }

  div[class^="cell tag_collapse"] {
    .toggle {
      display: block;
      border: 1px solid #ddd;
      border-width: 0px 1px 1px 1px;
      padding: 0.5rem 25px;
      outline: 0;
      position: relative;
      text-align: center;
      &:hover {
        text-decoration: none;
        background: #f7f7f7;
      }
      span {
        color: #444;
        position: relative;
        top: 3px;
        left: -5px;
      }
      em {
        font-style: normal;
      }
    }
    .highlight {
      height: 22.4rem;
      overflow: hidden;
      margin-bottom: 0;
      &:after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        pointer-events: none;
        background: url(/_static/img/code-block-fade.png) repeat-x bottom left;
        width: 100%;
        height: 100%;
      }
    }
    &.expanded {
      .highlight {
        height: auto;
        &:after {
          content: none;
        }
      }
    }
  }

  .cell_output {
    table {
      table-layout: auto;
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

div.admonition,
.admonition {
  font-size: 0.9rem;
  margin: 1.5rem auto;
  padding: 0 1rem 0.5rem 1rem;
  page-break-inside: avoid;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1), 0 0 0.05rem rgba(0, 0, 0, 0.1);
  > .admonition-title {
    position: relative;
    margin: 0 -1rem;
    padding: 0.25rem 2rem;
    font-weight: 700;
    background-color: #0072bc26;
  }
}

// Cell-specific controls
div.cell {
  &.container,
  .container {
    width: 100% !important;
  }

  div.cell_output {
    padding-right: 0;
  }

  &.tag_output_scroll,
  &.tag_scroll-output {
    div.cell_output {
      max-height: 24em;
      overflow-y: auto;
    }
  }

  &.tag_scroll-input {
    div.cell_input {
      max-height: 24em;
      overflow-y: auto;
    }
  }
}

.bd-sidebar .nav {
  li > a {
    padding: 0px;
    font-size: 0.9rem;
    &:hover {
      text-decoration: underline;
    }
  }
  label {
    display: none;
  }
}

#downloadPDFModal {
  ul {
    padding: 0.5em;
    list-style-type: none;
  }
  p {
    margin: 0rem;
    color: #0072bc;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

blockquote {
  padding: 0.5rem 2rem;
  margin: 1rem 0;
  border-left: 5px solid #1665ad;
  p {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
}

#settingsModal {
  text-align: left;
  padding: 1rem 1rem;

  .modal-title {
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }

  .modal-desc {
    font-size: 0.8rem;
    color: #888;
  }

  .modal-subtitle {
    border-bottom: 1px solid #ddd;
  }

  .modal-servers {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 0.5rem 1rem;
      border: 2px solid #ddd;
      font-size: 0.8rem;
      margin: 0.5rem 0;
      display: flex;
      cursor: pointer;
      &.active {
        border-color: #1665ad;
        background: rgba(22, 101, 173, 0.15);
        i {
          color: #1665ad;
        }
      }
      .label {
        flex-shrink: 0;
        min-width: 50px;
      }
      select {
        width: 100%;
        outline: none;
      }
      input {
        width: 100%;
        outline: none;
      }
      i {
        margin: 0 0 0 1rem;
        font-size: 1.2rem;
        color: #ddd;
      }
    }
  }

  .launch {
    margin: 0;
    a {
      display: block;
      text-decoration: none;
      font-weight: normal;
      background: colors.$primary;
      color: #fff;
      padding: 0.25rem 0.5rem;
      border-radius: 2px;
      text-align: center;
      &:hover {
        background: colors.$body;
      }
    }
  }
}

// Footnotes and Citations
span.brackets,
a.brackets {
  &:before {
    content: "[";
  }

  &:after {
    content: "]";
  }
}

.footnote-reference,
a.bibtex.internal {
  font-size: 1em;
}

// See: https://docutils.sourceforge.io/docs/user/rst/quickref.html#definition-lists
// TODO the field list should be a different format,
// but be wary of issues like https://github.com/pandas-dev/pydata-sphinx-theme/issues/193
dl.simple,
dl.field-list {
  & dd {
    margin-left: 1.5em;
  }
  & dd:not(:last-child) {
    margin-bottom: 0px;
    p:last-child {
      margin-bottom: 0px;
    }
  }
}

dl.glossary {
  dd {
    margin-left: 1.5em;
  }
}

dl.footnote {
  span.fn-backref {
    font-size: 1em;
    padding-left: 0.1em;
  }

  dd {
    font-size: 0.9em;
    margin-left: 3em;
  }
}

dl.citation {
  margin-left: 3em;
}

dl.footnote {
  dt.label {
    float: left;
  }

  dd p {
    padding-left: 1.5em;
  }
}

// auto-doc, see: https://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#directive-autoattribute
// adapted from https://github.com/readthedocs/readthedocs.org/blob/master/readthedocs/core/static/core/css/theme.css
dl.module,
dl.class,
dl.exception,
dl.function,
dl.decorator,
dl.data,
dl.method,
dl.attribute {
  dt {
    .headerlink {
      &:before {
        -webkit-font-smoothing: antialiased;
        font-family: "FontAwesome";
        display: inline-block;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        text-decoration: inherit;
      }
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: inherit;
      visibility: hidden;
      font-size: 14px;
      &:after {
        content: "";
        font-family: FontAwesome;
      }
    }
    .fa-pull-left.headerlink {
      margin-right: 0.3em;
    }
    .fa-pull-right.headerlink {
      margin-left: 0.3em;
    }
    .pull-left.headerlink {
      margin-right: 0.3em;
    }
    .pull-right.headerlink {
      margin-left: 0.3em;
    }
    a {
      .headerlink {
        display: inline-block;
        text-decoration: inherit;
      }
    }
    .btn {
      .headerlink {
        display: inline;
      }
      .fa-large.headerlink {
        line-height: 0.9em;
      }
      .fa-spin.headerlink {
        display: inline-block;
      }
    }
    .nav {
      .headerlink {
        display: inline;
      }
      .fa-large.headerlink {
        line-height: 0.9em;
      }
      .fa-spin.headerlink {
        display: inline-block;
      }
    }
    .btn.headerlink {
      &:before {
        opacity: 0.5;
        -webkit-transition: opacity 0.05s ease-in;
        -moz-transition: opacity 0.05s ease-in;
        transition: opacity 0.05s ease-in;
      }
      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
    .btn-mini {
      .headerlink {
        &:before {
          font-size: 14px;
          vertical-align: -15%;
        }
      }
    }
    .rst-versions {
      .rst-current-version {
        .headerlink {
          color: #fcfcfc;
        }
      }
    }
    &:hover {
      .headerlink {
        &:after {
          visibility: visible;
        }
      }
    }
    font-weight: bold;
  }
  margin-bottom: 24px;
  p {
    margin-bottom: 12px !important;
  }
  table {
    margin-bottom: 12px !important;
  }
  ul {
    margin-bottom: 12px !important;
  }
  ol {
    margin-bottom: 12px !important;
  }
  dd {
    margin: 0 0 12px 24px;
  }
  &:not(.docutils) {
    margin-bottom: 24px;
    dt {
      display: table;
      margin: 6px 0;
      font-size: 90%;
      line-height: normal;
      background: #e7f2fa;
      color: #2980b9;
      border-top: solid 3px #6ab0de;
      padding: 6px;
      position: relative;
      &:before {
        color: #6ab0de;
      }
      .headerlink {
        color: #404040;
        font-size: 100% !important;
      }
      &:first-child {
        margin-top: 0;
      }
    }
    dl {
      dt {
        margin-bottom: 6px;
        border: none;
        border-left: solid 3px #ccc;
        background: #f0f0f0;
        color: #555;
        .headerlink {
          color: #404040;
          font-size: 100% !important;
        }
      }
    }
    tt {
      font-weight: bold;
      font-weight: bold;
    }
    code {
      font-weight: bold;
    }
    tt.descname {
      background-color: transparent;
      background-color: transparent;
      border: none;
      border: none;
      padding: 0;
      padding: 0;
      font-size: 100% !important;
      font-size: 100% !important;
      font-weight: bold;
      font-weight: bold;
    }
    tt.descclassname {
      background-color: transparent;
      background-color: transparent;
      border: none;
      border: none;
      padding: 0;
      padding: 0;
      font-size: 100% !important;
      font-size: 100% !important;
    }
    code.descname {
      background-color: transparent;
      border: none;
      padding: 0;
      font-size: 100% !important;
      font-weight: bold;
    }
    code.descclassname {
      background-color: transparent;
      border: none;
      padding: 0;
      font-size: 100% !important;
    }
    .optional {
      display: inline-block;
      padding: 0 4px;
      color: #000;
      font-weight: bold;
    }
    .property {
      display: inline-block;
      padding-right: 8px;
    }
  }
  .viewcode-link {
    display: inline-block;
    color: #27ae60;
    font-size: 80%;
    padding-left: 24px;
  }
}

.toctree-wrapper {
  .caption-text {
    font-weight: normal;
    font-family: "PT Serif", serif;
    font-size: 1.2rem;
  }
}

// div[class^='collapse'] .highlight {
//   height: 22.4rem;
//   overflow: hidden;
//   margin-bottom: 0;
// }
// div[class^='collapse'].expanded .highlight {
//   height: auto;
// }
// div[class^='collapse'] .highlight:after {
//   content: '';
//   position: absolute;
//   z-index: 1;
//   bottom: 0;
//   left: 0;
//   pointer-events: none;
//   background: url(/_static/img/code-block-fade.png) repeat-x bottom left;
//   width: 100%;
//   height: 100%;
// }
// div[class^='collapse'].expanded .highlight:after {
//   content: none;
// }
// div[class^='collapse'] .toggle {
//   display: block;
//   border: 1px solid #ddd;
//   border-width: 0px 1px 1px 1px;
//   padding: 0.5rem 25px;
//   outline: 0;
//   position: relative;
//   text-align: center;
// }
// div[class^='collapse'] .toggle:hover {
//   text-decoration: none;
//   background: #f7f7f7;
// }
// div[class^='collapse'] .toggle span {
//   color: #444;
//   position: relative;
//   top: 3px;
//   left: -5px;
// }
// div[class^='collapse'] .toggle em {
//   font-style: normal;
// }
// div.collapse-5 .highlight {
//   height: 7rem;
// }
// div.collapse-6 .highlight {
//   height: 8.4rem;
// }
// div.collapse-7 .highlight {
//   height: 9.8rem;
// }
// div.collapse-8 .highlight {
//   height: 11.2rem;
// }
// div.collapse-9 .highlight {
//   height: 12.6rem;
// }
// div.collapse-10 .highlight {
//   height: 14rem;
// }
// div.collapse-11 .highlight {
//   height: 15.4rem;
// }
// div.collapse-12 .highlight {
//   height: 16.8rem;
// }
// div.collapse-13 .highlight {
//   height: 18.2rem;
// }
// div.collapse-14 .highlight {
//   height: 19.6rem;
// }
// div.collapse-15 .highlight {
//   height: 21rem;
// }
// div.collapse-16 .highlight {
//   height: 22.4rem;
// }
// div.collapse-17 .highlight {
//   height: 23.8rem;
// }
// div.collapse-18 .highlight {
//   height: 25.2rem;
// }
// div.collapse-19 .highlight {
//   height: 26.6rem;
// }
// div.collapse-20 .highlight {
//   height: 28rem;
// }
// div.collapse-21 .highlight {
//   height: 29.4rem;
// }
// div.collapse-22 .highlight {
//   height: 30.8rem;
// }
// div.collapse-23 .highlight {
//   height: 32.2rem;
// }
// div.collapse-24 .highlight {
//   height: 33.6rem;
// }
// div.collapse-25 .highlight {
//   height: 35rem;
// }
