/*
-----------------------------------
IMPORTS
-----------------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,700;1,400&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

$color-primary: #0072bc;
$color-secondary: #d8655e;
$color-body: #444444;

@import 'normalize';
@import 'html5boilerplate';
@import 'quantecon-defaults';
@import 'syntax';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
  &.font-plus {
    font-size: calc(14px * 1.2);
  }
  &.font-minus {
    font-size: calc(14px * 0.9);
  }
  @media (min-width: $breakpoint-md) {
    font-size: 16px;
    &.font-plus {
      font-size: calc(16px * 1.2);
    }
    &.font-minus {
      font-size: calc(16px * 0.9);
    }
  }
  @media (min-width: $breakpoint-lg) {
    font-size: 18px;
    &.font-plus {
      font-size: calc(18px * 1.2);
    }
    &.font-minus {
      font-size: calc(18px * 0.9);
    }
  }
  @media (min-width: $breakpoint-xl) {
    font-size: 18px;
    &.font-plus {
      font-size: calc(18px * 1.2);
    }
    &.font-minus {
      font-size: calc(18px * 0.9);
    }
  }
}

.show-for-sr {
  position: absolute!important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  }

body {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  padding-top: 0px;
  color: #444;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.dark-theme {
    background: #333;
    color: #fff !important;
    a,
    h1,
    h2,
    h3,
    h4 {
      color: #fff !important;
    }
    cite,
    code,
    tt {
      background-color: transparent;
    }
    .maths,
    .math {
      color: #fff !important;
    }
    .highlight {
      background: #222 !important;
    }
    .toolbar,
    .drawer,
    .sidebar,
    .drawer .inner {
      background: #444;
    }
    .btn__search {
      input {
        color: #fff;
        &:focus {
          border-color: #fff;
        }
      }
    }
    .page__content {
      .image-reference img {
        filter: invert(100%) hue-rotate(-180deg) !important;
        -ms-filter: invert(100%) !important;
        -webkit-filter: invert(100%) hue-rotate(-180deg) !important;
      }
    }
  }
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  margin: 0 0 1rem 0;
}

h2 {
  font-weight: 900;
  font-size: 3rem;
}

h3 {
  font-weight: 900;
  font-size: 2.5rem;
}

h4 {
  font-weight: 900;
  font-size: 2rem;
}

a {
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
}

a:hover {
}

a:visited {
  //color: darken($primary, 20%);
}

h1,
h2,
h3 h4,
h5 {
  font-weight: normal;
  font-family: 'PT Serif', serif;
}
h1 {
  font-size: 2em;
  color: #333;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
}

strong,
b {
  font-weight: 700;
}

li {
  margin: 0.5rem 0;
}

a {
  color: #0072bc;
  text-decoration: none;
  transition: all 0.15s linear;
  overflow-wrap: break-word;
}
a:link {
}
a:hover {
  color: #004979;
  text-decoration: underline;
}
a:active {
}
a:visited {
  color: #004979;
}

pre {
  font-size: 0.9rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

cite,
code,
tt {
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 0.01rem;
  background-color: #efefef;
  font-style: normal;
  border: 1px dotted #cccccc;
  border-radius: 2px;
  padding: 0 2px;
  font-size: 0.9rem;
  overflow-wrap: break-word;
}

.wrapper {
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column-reverse;
  //min-height: 100vh;
}

.main {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 4rem 0 0 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

.toolbar {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0 1rem;
  background-color: #efefef;
  border-bottom: 1px solid #ccc;
  &__inner {
    //max-width: calc(1320px + 6rem);
    margin: 0 auto 0 auto;
    height: 50px;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  li {
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
    &:hover,
    &.btn-active {
      opacity: 1;
      transform: scale(1.1);
    }
    a {
      color: $color-body;
    }
    &.btn__plus {
      opacity: 0.5;
      .font-plus & {
        opacity: 1;
        transform: scale(1.1);
      }
    }
    &.btn__minus {
      opacity: 0.5;
      .font-minus & {
        opacity: 1;
        transform: scale(1.1);
      }
    }
    &.btn__contrast {
      opacity: 0.5;
      margin:0 2rem 0 0;
    }
    &.btn__fullscreen {
      opacity: 0.5;
    }
    &.btn__search {
      display: flex;
      align-items: center;
      //margin: 0 3rem 0 1rem;
      input {
        height: auto;
        display: inline-block;
        width: 175px;
        border: 1px solid #ccc;
        border-radius: 2px;
        background-color: #f8f8f8;
        margin: 0 -28px 0 0;
        line-height: 1;
        font-size: 0.9rem;
        padding: 0.3rem 0.5rem;
        transition: all 0.2s linear;
        outline: 0;
        display: none;
        &:focus {
          border-color: $color-body;
        }
      }
      svg {
        background-color: transparent;
        z-index: 999;
      }
      &:hover {
        transform: none;
        input {
          border-color: $color-body;
        }
      }
    }
    &.btn__qelogo {
      a {
        display: block;
        overflow: hidden;
        height: 30px;
        width: 105px;
        background: url(https://assets.quantecon.org/img/menubar/qemb-logo.png) no-repeat left top;
        background-size: 105px 30px;
      }
    }
    &.btn__sidebar {
      svg {
      }
    }
    svg {
      width: 20px;
      height: 20px;
    }
    @media (max-width: 600px) {
      &.btn__plus, &.btn__minus, &.btn__fullscreen, &.btn__search {
        display: none;
      }
    }
  }
  &__main {
  }
}

.page {
  max-width: 800px;
  position: relative;
  flex-grow: 1;
  &__toc {
    @media (max-width: 1220px) {
      display: none;
    }
    position: absolute;
    right: calc(-250px - 3rem);
    top: 0;
    margin: 0;
    height: 100%;
    width: 250px;
    .inner {
      height:100%;
    }
    &-header {
      font-weight: 700;
      margin: 0 0 1rem 0;
    }
    &-nav {
      font-size: 0.9rem;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        ul {
          padding-left: 1rem;
        }
        li {
          margin: 0.25rem 0;
          padding: 0;
          a {
            color: $color-body;
            opacity: 0.8;
            &.active {
              color: $color-primary;
              opacity: 1;
            }
          }
        }
      }
    }
    &-footer {
      position: sticky;
      top: 6rem;
      margin: 2rem 0 0 0;
      font-size: 0.9rem;
      a {
        color: $color-body;
        opacity: 0.8;
        text-decoration: none;
        &:hover {
          color: $color-primary;
          opacity: 1;
        }
      }
    }
    .nav > .active > ul {
      display: block;
    }
    .nav .nav {
      display: none;
    }
  }
  &__header {
    .main-index & {
      display: none;
    }
    border-bottom: 5px solid $color-primary;
    margin: 0 0 4rem 0;
    padding: 0 0 1rem 0;
    &-copy {
      display: flex;
    }
    &-heading {
      margin: 0 1rem 0 0;
      font-weight: 700;
      a {
        color: $color-body !important;
      }
    }
    &-subheading {
      margin: 0;
    }
    &-authors {
      margin: 0.5rem 0 0 0;
      font-size: 0.9rem;
    }
  }
  &__content {
    /* tableofcontents directive caption option */
    .caption-text {
      font-weight: normal;
      font-family: 'PT Serif', serif;
      font-size: 1.2rem;
    }
    // Math equations
    span.eqno {
      float: right;
      font-size: 1.2em;
    }
  }
}

.main-index {
  h1 {
    border-bottom: 5px solid #0072bc;
    margin: 0 0 2rem 0;
    padding: 0 0 1rem 0;
    font-weight: 700;
  }
}

.sidebar {
  //position: absolute;
  top: 0px;
  left: 0px;
  background-color: #efefef;
  //padding: 2rem;
  margin: 0;
  border-right: 1px solid #ccc;
  //height: 100%;
  width: 250px;
  transform: translate3d(0px, 0px, 0px);
  visibility: visible;
  transition: all 0.5s ease 0s;
  height: 100vh;
  position: fixed;
  top:50px;
  //padding-top: 5rem;
  @media (max-width: 1500px) {
    box-shadow: 10px 10px 5px 9999px rgba(255,255,255,0.8);
    width: 300px;
  }
  @media (min-width: 1439px) {
    //width: 300px;
  }
  @media (min-width: 1600px) {
    width: 350px;
  }
  &.inactive {
    //display:none;
    transform: translate3d(-100%, 0px, 0px);
    visibility: visible;
    box-shadow: none;
  }
  &__toggle {
    transform: rotate(-90deg);
    transform-origin: 100% 0;
    right: 0;
    top: 4rem;
    height: 2.5rem;
    position: absolute;
    background-color: #efefef;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border: 1px solid #ccc;
    border-width: 0px 1px 2px 1px;
    border-bottom-color: #0072bc;
    cursor: pointer;
  }
  &__inner {
    overflow-y: scroll;
    padding: 2rem 2rem 2rem 2rem;
    height: calc(100% - 4rem);
    position: fixed;
  }
  &__header {
    margin: 0 0 1rem 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 1rem;
  }
  &__nav {
    font-size: 0.9rem;
    ul {
      list-style: none;
      display: block;
      margin: 0;
      padding: 0;
      ul {
        padding-left: 1rem;
      }
      li {
        margin: 0.25rem 0;
        padding: 0;
        a {
          color: $color-body;
          opacity: 0.8;
          &.active {
            color: $color-primary;
            opacity: 1;
          }
        }
      }
    }
    /* tableofcontents directive caption option */
    .caption-text {
      font-weight: normal;
      font-family: 'PT Serif', serif;
      //font-size: 1.7rem;
    }
  }
  &__footer {
    text-align: center;
    //margin: 2rem 0 0 0;
  }
}

.bd-search {
  background-color: #eff1f2;
  border-bottom: 0;
  margin: 0 -2rem 0 -2rem;
  padding: 2rem;
  width: calc(100% + 4rem);
  position: relative;
  .form-control {
    display: block;
    height: 2.75rem;
    border: solid 1px rgba(210, 215, 217, 0.75);
    background: #ffffff;
    border-radius: 0.3rem;
    padding: 0 1em;
    width: 100%;
  }
  svg {
    transform: scaleX(-1);
    color: #7f888f;
    cursor: default;
    display: block;
    //font-size: 1.5em;
    height: 2.75rem;
    //line-height: 2em;
    opacity: 0.325;
    position: absolute;
    right: 2.75rem;
    text-align: center;
    top: 2rem;
  }
}

.content .table-container {
  overflow-x: scroll;
}
.content table {
  max-width: 100%;
  border-collapse: collapse;
  border: 0;
  background-color: transparent;
}
.content table tbody tr:nth-child(odd) {
  background-color: #f7f7f7;
}
.content table td,
.content table th {
  padding: 0.25rem 0.75rem;
  text-align: left;
  vertical-align: top;
  border: 0;
}
.content table th {
  font-weight: bold;
}
.content table thead tr th {
  text-align: left !important;
}
.content table thead th,
.content table thead td {
  vertical-align: bottom;
  border: 0;
  border-top: 0;
  border-bottom: 1px solid #e1e1e1;
}

// div[class^='collapse'] .highlight {
//   height: 22.4rem;
//   overflow: hidden;
//   margin-bottom: 0;
// }
// div[class^='collapse'].expanded .highlight {
//   height: auto;
// }
// div[class^='collapse'] .highlight:after {
//   content: '';
//   position: absolute;
//   z-index: 1;
//   bottom: 0;
//   left: 0;
//   pointer-events: none;
//   background: url(/_static/img/code-block-fade.png) repeat-x bottom left;
//   width: 100%;
//   height: 100%;
// }
// div[class^='collapse'].expanded .highlight:after {
//   content: none;
// }
// div[class^='collapse'] .toggle {
//   display: block;
//   border: 1px solid #ddd;
//   border-width: 0px 1px 1px 1px;
//   padding: 0.5rem 25px;
//   outline: 0;
//   position: relative;
//   text-align: center;
// }
// div[class^='collapse'] .toggle:hover {
//   text-decoration: none;
//   background: #f7f7f7;
// }
// div[class^='collapse'] .toggle span {
//   color: #444;
//   position: relative;
//   top: 3px;
//   left: -5px;
// }
// div[class^='collapse'] .toggle em {
//   font-style: normal;
// }
// div.collapse-5 .highlight {
//   height: 7rem;
// }
// div.collapse-6 .highlight {
//   height: 8.4rem;
// }
// div.collapse-7 .highlight {
//   height: 9.8rem;
// }
// div.collapse-8 .highlight {
//   height: 11.2rem;
// }
// div.collapse-9 .highlight {
//   height: 12.6rem;
// }
// div.collapse-10 .highlight {
//   height: 14rem;
// }
// div.collapse-11 .highlight {
//   height: 15.4rem;
// }
// div.collapse-12 .highlight {
//   height: 16.8rem;
// }
// div.collapse-13 .highlight {
//   height: 18.2rem;
// }
// div.collapse-14 .highlight {
//   height: 19.6rem;
// }
// div.collapse-15 .highlight {
//   height: 21rem;
// }
// div.collapse-16 .highlight {
//   height: 22.4rem;
// }
// div.collapse-17 .highlight {
//   height: 23.8rem;
// }
// div.collapse-18 .highlight {
//   height: 25.2rem;
// }
// div.collapse-19 .highlight {
//   height: 26.6rem;
// }
// div.collapse-20 .highlight {
//   height: 28rem;
// }
// div.collapse-21 .highlight {
//   height: 29.4rem;
// }
// div.collapse-22 .highlight {
//   height: 30.8rem;
// }
// div.collapse-23 .highlight {
//   height: 32.2rem;
// }
// div.collapse-24 .highlight {
//   height: 33.6rem;
// }
// div.collapse-25 .highlight {
//   height: 35rem;
// }

/* Lecture TOC */
#contents {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#contents + ul {
  list-style: none;
  padding: 0 !important;
  border: 1px solid #ddd !important;
  border-width: 0 0 0 1px !important;
  margin: 0 0 0 20px !important;
}
#contents + ul > li {
  margin: 0;
}
#contents + ul > li > a {
  display: none;
}
#contents + ul > li > ul {
  list-style: disc;
}
#contents + ul > li > ul > li {
  margin: 0;
}

.anchor-link {
  visibility: hidden;
  text-decoration: none;
  color: #555;
  margin-left: 6px;
  padding: 0 4px 0 4px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8em;
}
.anchor-link:hover {
  color: #555;
  text-decoration: none;
}
*:hover > .anchor-link {
  visibility: visible;
}

.cell .input,
.cell .output {
  position: relative;
}
.cell .output .prompt,
.cell .input .prompt {
  visibility: hidden;
  position: absolute;
  top: 0rem;
  left: -55px;
  width: 45px;
}
.cell .output .prompt:before,
.cell .input .prompt:before {
  visibility: visible;
  position: absolute;
  top: 0rem;
  right: 0;
  content: 'Out';
  font-weight: bold;
  font-size: 16px;
  text-align: right;
  color: #d84315;
  font-family: monospace, serif;
  font-weight: 400;
}
.cell .input .prompt:before {
  content: 'In';
  color: #303f9f;
  top: 0.25rem;
}

div.content-table ~ table {
  border: 0;
  border-collapse: collapse;
}
div.content-table ~ table td,
div.content-table ~ table th {
  padding: 1px 8px 1px 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #aaa;
}

.headerlink {
  visibility: hidden;
  text-decoration: none;
  color: #555;
  margin-left: 6px;
  padding: 0 4px 0 4px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8rem;
}
.headerlink:hover {
  color: #555;
}
*:hover > .headerlink {
  visibility: visible;
}

.rendered_html img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.output_png img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.math {
  color: #333;
  margin: 2rem 0;
}
a .math {
  color: #0072bc;
}
span.math {
  font-size: 0.92rem;
}
.MathJax {
  color: #333;
  margin: 2rem 0;
}
a .MathJax {
  color: #0072bc;
}
span.MathJax {
  font-size: 0.92rem;
}
