name: Build Example Project [using jupyter-book]
on: [push]
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Fetch lecture-python-programming.myst
        shell: bash -l {0}
        run: |
          git clone --branch testing-latest-jb https://github.com/QuantEcon/lecture-python-programming.myst
      - name: Setup Anaconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          auto-activate-base: true
          miniconda-version: 'latest'
          python-version: 3.9
          environment-file: lecture-python-programming.myst/environment.yml
          activate-environment: lecture-python-programming
      - name: Install quantecon-book-theme
        shell: bash -l {0}
        run: |
          pip uninstall -y quantecon-book-theme
          python setup.py install
      - name: Install sphinx-multitoc-numbering
        shell: bash -l {0}
        run: |
          git clone https://github.com/executablebooks/sphinx-multitoc-numbering.git
          cd sphinx-multitoc-numbering
          python setup.py install
          cd ../ && rm -rf sphinx-multitoc-numbering
      - name: Install sphinx-exercise
        shell: bash -l {0}
        run: |
          git clone https://github.com/executablebooks/sphinx-exercise.git
          cd sphinx-exercise
          python setup.py install
          cd ../ && rm -rf sphinx-exercise
      - name: Install Dependencies
        shell: bash -l {0}
        run: |
          pip install jupyter-book
      - name: Display Conda Environment Versions
        shell: bash -l {0}
        run: conda list
      - name: Display Pip Versions
        shell: bash -l {0}
        run: pip list
      - name: Build HTML
        shell: bash -l {0}
        run: |
          cd lecture-python-programming.myst
          jb build lectures --path-output ./
      - name: Preview Deploy to Netlify
        uses: nwtgck/actions-netlify@v1.1
        with:
          publish-dir: 'lecture-python-programming.myst/_build/html/'
          production-branch: master
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: "Preview Deploy from GitHub Actions"
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
