name: continuous-integration

on:
  push:
    branches: [master]
    tags:
      - 'v*'
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - uses: pre-commit/action@v2.0.0
      with:
        extra_args: autoupdate

  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[sphinx,testing]
    - name: Run pytest
      run: >
        pytest --durations=10 --cov=quantecon_book_theme --cov-report=xml --cov-report=term-missing

    - name: Upload to Codecov
      if: github.repository == 'QuantEcon/quantecon-book-theme'
      uses: codecov/codecov-action@v1
      with:
        name: ebp-sbt-pytests-py3.7
        flags: pytests
        file: ./coverage.xml
        fail_ci_if_error: true
